@use "variables" as vars;

.header-top {
  visibility: hidden;
}

.header-main {
  padding: 20px 0;
  border-bottom: 1px solid vars.$color-cultured;
}

.header-logo {
  margin-bottom: 20px;

  img {
    margin: auto;
  }
}

.header-search-container {
  position: relative;
  input {
    width: 100%;
  }
  button {
    .search-icon {
      color: vars.$color-onyx;
      width: 18px;
      height: 18px;
    }
  }
}
