*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.game {
  display: flex;
}

.board-row {
  display: flex;
}

.square {
  border: 1px solid black;
  border-radius: 0px;
  width: 34px;
  height: 34px;
  padding: 0px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: -1px -1px 0 0;
  &:hover {
    border-color: black;
  }
}

.win {
  color: red;
}
