@import "tailwindcss";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@theme {
  --color-spanish-gray: hsl(0, 0%, 60%);
  --color-sonic-silver: hsl(0, 0%, 47%);
  --color-eerie-black: hsl(0, 0%, 13%);
  --color-salmon-pink: hsl(353, 100%, 78%);
  --color-sandy-brown: hsl(29, 90%, 65%);
  --color-bittersweet: hsl(0, 100%, 70%);
  --color-ocean-green: hsl(152, 51%, 52%);
  --color-davys-gray: hsl(0, 0%, 33%);
  --color-cultured: hsl(0, 0%, 93%);
  --color-white: hsl(0, 100%, 100%);
  --color-onyx: hsl(0, 0%, 27%);

  --font-display: "Poppins", "sans-serif";

  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 36rem; /* 570px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-2xl: 88rem; /* 1400px */

  --shadow-normal: 0px 0px 10px rgba(0, 0, 0, 0.25);
  --shadow-light: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

@layer base {
  html {
    font-size: clamp(1rem, 0.95rem + 0.221vw, 1.125rem);
  }
}

@layer utilities {
  .ionicon-semibold {
    path {
      stroke-width: 50px;
    }
  }
  .ionicon-bold {
    path {
      stroke-width: 90px;
    }
  }

  .scrollbar-style::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .scrollbar-style::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--color-white);
    border-radius: 20px;
  }

  .scrollbar-style:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
  }

  .scrollbar-style::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
  }
}
