/* src/styles.scss */
$primary-color: #4caf50;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: white;
  margin: 0;
  padding: 0;
}
@debug "This is a debug";

h1 {
  text-align: center;
}
