@import url("reset.css");

#root {
  margin: 0 auto;
  text-align: center;
  background: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.input-container {
  width: 300px;
  height: 50px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.animated-input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border: gray solid 1px;
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
}

.animated-input::placeholder {
  color: #454545;
}

.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flash circle {
  fill: #ff7eb3;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    r: 0;
    fill: #65d6ce;
  }
  50% {
    r: 360;
    fill: #65d6ce;
  }
  100% {
    r: 0;
    fill: #65d6ce;
  }
}
